@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply px-4 py-2 bg-zinc-500 rounded-md;
    @apply hover:bg-zinc-700;
  }
  .input {
    @apply bg-black/20 px-4 py-2 rounded-md;
    @apply focus:outline-none focus:ring-2 focus:ring-white/30;
  }
}
